In [7]:
import sqlite3

In [8]:
conexion = sqlite3.connect("ejemplo.db")

In [9]:
conexion = sqlite3.connect("ejemplo.db")

#Creamos el cursor
cursor = conexion.cursor()

conexion.close()

In [10]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

#Creamos una tabla llamada Estudiantes
cursor.execute("CREATE TABLE estudiantes (email VARCHAR(100), carrera VARCHAR(100), nombre VARCHAR(100), edad INTEGER)")

conexion.close()

In [13]:
conexion = sqlite3.connect("ejemplo.db")

cursor = conexion.cursor()

#Insertamos un registro en la tabla
cursor.execute("INSERT INTO estudiantes VALUES ('bluenote@google.com','Artes','Sharon',27)")

#Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

In [14]:
conexion = sqlite3.connect("ejemplo.db")

cursor = conexion.cursor()

#Seleccionamos todos los registros en la tabla
cursor.execute("SELECT * FROM estudiantes")

usuarios = cursor.fetchone()
print(usuarios)

('bluenote@google.com', 'Artes', 'Sharon', 27)

In [17]:
conexion = sqlite3.connect("ejemplo.db")

cursor = conexion.cursor()

usuarios = [
    ('abigahimorales@gmail.com','Ingenieria','Abigahi',22),
    ('hirammetal14658@gmail.com','Ingenieria','Hiram',24),
    ('paella@vip.com','Medicina','Giuliana',27),
    ('crimewave@vip.com','Derecho','Alicia',20),
    ('prince@orange.com','Ingenieria','William',24),
    ('elrisortdewelini@vip.com','Nutrición','Chefsito',25),
    ('planb@vip','Artes','Chencho',30),
    ('channel@boyz','Letras','Frank',32),
    ('vinos@aouju.com','Nutricion','Eugenia',23),
    

    
]

cursor.executemany("INSERT INTO estudiantes VALUES(?,?,?,?)",usuarios)

conexion.commit()

conexion.close()

In [21]:
import csv

conexion = sqlite3.connect(r"C:\Users\Hiram\ejemplo.db")
cursor = conexion.cursor()

archivo = open(r"C:\Users\Hiram\datos_db.txt")

filas = csv.reader(archivo)

cursor.executemany("INSERT INTO estudiantes VALUES(?,?,?,?)",filas)

cursor.execute("SELECT * FROM estudiantes")

print(cursor.fetchall())

conexion.commit()
conexion.close()

[('bluenote@google.com', 'Artes', 'Sharon', 27), ('abigahimorales@gmail.com', 'Ingenieria', 'Abigahi', 22), ('hirammetal14658@gmail.com', 'Ingenieria', 'Hiram', 24), ('abigahimorales@gmail.com', 'Ingenieria', 'Abigahi', 22), ('hirammetal14658@gmail.com', 'Ingenieria', 'Hiram', 24), ('paella@vip.com', 'Medicina', 'Giuliana', 27), ('crimewave@vip.com', 'Derecho', 'Alicia', 20), ('prince@orange.com', 'Ingenieria', 'William', 24), ('elrisortdewelini@vip.com', 'Nutrición', 'Chefsito', 25), ('planb@vip', 'Artes', 'Chencho', 30), ('channel@boyz', 'Letras', 'Frank', 32), ('vinos@aouju.com', 'Nutricion', 'Eugenia', 23), ('paella@vip.com', 'Medicina', 'Giuliana', 27), ('crimewave@vip.com', 'Derecho', 'Alicia', 20), ('prince@orange.com', 'Ingenieria', 'William', 24), ('elrisortdewelini@vip.com', 'Nutrición', 'Chefsito', 25), ('planb@vip.com', 'Artes', 'Chencho', 30), ('channel@boyz.com', 'Letras', 'Frank', 32), ('vinos@aouju.com', 'Nutrición', 'Eugenia', 23), ('paella@vip.com', 'Medicina', 'Giuliana', 27), ('crimewave@vip.com', 'Derecho', 'Alicia', 20), ('prince@orange.com', 'Ingenieria', 'William', 24), ('elrisortdewelini@vip.com', 'Nutrición', 'Chefsito', 25), ('planb@vip.com', 'Artes', 'Chencho', 30), ('channel@boyz.com', 'Letras', 'Frank', 32), ('vinos@aouju.com', 'Nutrición', 'Eugenia', 23)]